.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Rubik Vinyl', serif;
}

/* Links */
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.footer-links li {
    cursor: pointer;
}

/* Social Icons */
.footer-social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-social-icon-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

/* Copyright */
.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #1a1a1a;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 768px) {
    .footer-logo p {
        font-size: 32px;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
    }

    .footer-social-icon {
        gap: 15px;
    }

    .footer-social-icon-container {
        padding: 8px;
    }

    .footer {
        gap: 30px;
    }

    .footer-copyright {
        font-size: 16px;
    }
}
